version: "2"
services:
  ordinaryroad-ui:
    image: ordinaryroad-ui
    container_name: ordinaryroad-ui
    build:
      context: ./ordinaryroad-ui
    volumes:
      - $PWD/ordinaryroad-ui/app:/ordinaryroad/ordinaryroad-ui/app
    hostname: ordinaryroad-ui
    restart: always

  ordinaryroad-nginx:
    image: ordinaryroad-nginx
    container_name: ordinaryroad-nginx
    build:
      context: ./ordinaryroad-nginx
    volumes:
      - $PWD/ordinaryroad-nginx/ssl:/etc/nginx/ssl
    ports:
      # 前端
      - "8021:8021"
      # 网关 https
      - "8090:8090"
      # 认证服务器 https
      - "8302:8302"
      # nacos https
      - "9848:9848"
      # minio console https
      - "9001:9001"
      # thingsboard dashboard
      - "19090:19090"
      # IoE
      - "8701:8701"
    depends_on:
      - ordinaryroad-gateway
      - ordinaryroad-ui
      - ordinaryroad-minio
    restart: always

  ordinaryroad-redis:
    image: ordinaryroad-redis
    container_name: ordinaryroad-redis
    build:
      context: ./ordinaryroad-redis
    volumes:
      - $PWD/ordinaryroad-redis/data:/data
    hostname: ordinaryroad-redis
    restart: always

  ordinaryroad-mysql:
    image: ordinaryroad-mysql
    container_name: ordinaryroad-mysql
    build:
      context: ./ordinaryroad-mysql
    volumes:
      - $PWD/ordinaryroad-mysql/etc/my.cnf:/etc/my.cnf
      - $PWD/ordinaryroad-mysql/data:/var/lib/mysql
    ports:
      - "3307:3307"
    environment:
      MYSQL_ROOT_PASSWORD: ${OR_MYSQL_ROOT_PASSWORD}
    hostname: ordinaryroad-mysql
    restart: always

  ordinaryroad-nacos:
    image: ordinaryroad-nacos
    container_name: ordinaryroad-nacos
    build:
      context: ./ordinaryroad-nacos
    volumes:
      - $PWD/ordinaryroad-nacos/standalone-logs:/home/nacos/logs
    environment:
      MYSQL_SERVICE_HOST: ordinaryroad-mysql
      MYSQL_SERVICE_DB_NAME:
      MYSQL_SERVICE_PORT: 3307
      MYSQL_SERVICE_USER: root
      MYSQL_SERVICE_PASSWORD: ${OR_MYSQL_ROOT_PASSWORD}
    hostname: ordinaryroad-nacos
    restart: always

  ordinaryroad-minio:
    image: ordinaryroad-minio
    container_name: ordinaryroad-minio
    build:
      context: ./ordinaryroad-minio
    volumes:
      - $PWD/ordinaryroad-minio/data:/data
      - $PWD/ordinaryroad-minio/config:/root/.minio
    environment:
      MINIO_ROOT_USER:
      MINIO_ROOT_PASSWORD:
    hostname: ordinaryroad-minio
    restart: always
    command: server /data --console-address ":9999"

  ordinaryroad-zookeeper:
    image: ordinaryroad-zookeeper
    container_name: ordinaryroad-zookeeper
    build:
      context: ./ordinaryroad-zookeeper
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=ordinaryroad-zookeeper:2888:3888;ordinaryroad-zookeeper:2181
    hostname: ordinaryroad-zookeeper
    restart: always

  ordinaryroad-kafka:
    image: ordinaryroad-kafka
    container_name: ordinaryroad-kafka
    build:
      context: ./ordinaryroad-kafka
    depends_on:
      - ordinaryroad-zookeeper
    environment:
      KAFKA_ZOOKEEPER_CONNECT: ordinaryroad-zookeeper:2181
      KAFKA_LISTENERS: INSIDE://:9093,OUTSIDE://:9092
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9093,OUTSIDE://ordinaryroad-kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
    volumes:
      - $PWD/ordinaryroad-kafka/var/run/docker.sock:/var/run/docker.sock
    hostname: ordinaryroad-kafka
    restart: always

  ordinaryroad-thingsboard:
    image: ordinaryroad-thingsboard
    container_name: ordinaryroad-thingsboard
    build:
      context: ./ordinaryroad-thingsboard
    depends_on:
      - ordinaryroad-kafka
    environment:
      TB_QUEUE_TYPE: kafka
      TB_KAFKA_SERVERS: ordinaryroad-kafka:9092
    volumes:
      # TODO chown -R 799:799 xxx
      - $PWD/ordinaryroad-thingsboard/data:/data
      - $PWD/ordinaryroad-thingsboard/logs:/var/log/thingsboard
    ports:
      - "1883:1883"
      - "7070:7070"
      - "5683-5688:5683-5688/udp"
    hostname: ordinaryroad-thingsboard
    restart: always

  ordinaryroad-gateway:
    image: ordinaryroad-gateway
    container_name: ordinaryroad-gateway
    build:
      context: ./ordinaryroad-gateway
    hostname: ordinaryroad-gateway
    restart: always

  ordinaryroad-auth-server:
    image: ordinaryroad-auth-server
    container_name: ordinaryroad-auth-server
    build:
      context: ./ordinaryroad-auth-server
    hostname: ordinaryroad-auth-server
    restart: always

  ordinaryroad-upms:
    image: ordinaryroad-upms
    container_name: ordinaryroad-upms
    build:
      context: ./ordinaryroad-upms
    hostname: ordinaryroad-upms
    restart: always

  ordinaryroad-push:
    image: ordinaryroad-push
    container_name: ordinaryroad-push
    build:
      context: ./ordinaryroad-push
    environment:
      QQ_MAIL_AUTHORIZATION_CODE:
      JPUSH_APP_KEY:
      JPUSH_MASTER_SECRET:
    hostname: ordinaryroad-push
    restart: always

  ordinaryroad-im:
    image: ordinaryroad-im
    container_name: ordinaryroad-im
    build:
      context: ./ordinaryroad-im
    environment:
      MIMC_APP_ID:
      MIMC_APP_KEY:
      MIMC_APP_SECRET:
    hostname: ordinaryroad-im
    restart: always